<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>TossBetTracker</string>
	<key>CFBundleIdentifier</key>
	<string>bc.toss-bet-tracker</string>
	<key>CFBundleVersion</key>
	<string>1.15</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>Toss Bet Tracker</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>FontAwesome5BrandsRegular.otf</string>
		<string>FontAwesome5Regular.otf</string>
		<string>FontAwesome5Solid.otf</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera to take photos for your profile picture or group picture.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to photos for your profile picture or group picture.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to microphone.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs access to the photo gallery for your profile picture or group picture.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>La aplicación puede requerir el uso de calendarios</string>
	<key>NSLocationAlwaysUsageDescription </key>
	<string>La aplicación puede requerir acceso a la ubicación durante el uso</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>La aplicación puede requerir acceso a la ubicación durante el uso</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>La aplicación puede hacer uso de la ubiacación en todo momento</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>http://ec2-18-212-22-223.compute-1.amazonaws.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>15</string>
</dict>
</plist>
